.flex_online_servers {
    display: flex;
    flex-direction: column;
    line-height: 13px;
}

.right-side_flex {
  width: 77%;
  display: flex;
  padding: 25px;
  border-radius: 20px;
  background: #161f37;
  flex-direction: column;
  justify-content: space-between;
}

.thank_str {color: #586993;font-weight: 600;}

.text_operation_h1 {
  font-size: 13px;
  color: #64d393;
}

.text_operation_h2 {
  font-size: 10.5px;
}

.text_operation_h11 {
  font-size: 13px;
  color: #f38181;
}

.text_operation_h22 {
  font-size: 10.5px;
}

.flex_operation_text {
  display: flex;
  gap: 5px;
  font-weight: bold;
  flex-direction: column;
}

.flex_input_merchant {
  display: flex;
  gap: 7px;
  margin-bottom: 15px;
  align-items: center;
}

.flex_mini_user {
    display: flex;
    gap: 5px;
}

.discount_purse_block {
  border-radius: 16px;
  transition: .2s all;
  background: linear-gradient(1deg, #2c2f36 30%, #343840 100%);
  gap: 11px;
  padding: 17px;
  box-shadow: 0px 5px 10px #13151a00;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  margin-top: 20px;
}

.discount_purse {
    background: #253051;
    padding: 6px 17px 6px 7px;
    border-radius: 50px;
    transition: .2s all;
    gap: 9px;
    display: flex;
    align-items: center;
}

.discount_purse i {
    width: 35px;
    transition: all 0.2s;
    height: 35px;
    background: linear-gradient(23deg, #fe9544 0%, #e5768d 55%);
    font-size: 17px;
    display: flex;
    color: #ffffff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.discount_purse span{
  font-weight: bold;
  font-size: 12px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.flex_my_stores {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  line-height: 17px;
}

.mys_stores_mini_btn {
  display: flex;
  border-radius: 13px;
  gap: 11px;
  margin-bottom: 15px;
  padding: 16px;
  background: linear-gradient(180deg, #3f6fff12 10%, #3f6fff3b 100%) !important;
}

.mys_stores_mini_btn i{
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(23deg, #2b56da 0%, #3f6fff 55%);
  font-size: 16px;
  color: #ffffff;
}

.my_stores_mini_text {
  color: #ffff;
  font-size: 12px;
}

.my_stores_mini_info {
  font-size: 10.5px;
  color: #6e92fd;
  font-weight: 600;
  border-bottom: dashed 1px #6e92fdc2;
}

.my_stores_mini_info:hover {
  color: #ffffff;
  border-bottom: dashed 1px #ffffffad;
}

.mp_btns {
  background: #2c3c62;
  display: flex;
  color: #6479ad;
  min-width: 43px;
  height: 43px;
  font-size: 18px;
  transition: 0.2s;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.mp_btns:hover {
  background: #334571;
  color: #ffffff;
}

.mps_btn_profile {
  display: flex;
  color: #ffffff;
  background: linear-gradient(354deg, #33446c7d 30%, #344775 100%) !important;
  border-top: solid 1px #394e83;
  height: 43px;
  width: 100%;
  font-size: 11px;
  transition: 0.2s;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
}

.mps_btn_profile:hover {
  opacity: 0.7;
  color: #ffff;
}

.mini_profile_menu {
  margin: 0px 15px 0px 15px;
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.all_friends_btn {
    color: #7f94ce;
    font-size: 10.5px;
    display: flex;
    margin-left: -3px;
    border: solid 3px #2d3c64;
    padding: 0px 16px;
    background: #3c4e7e;
    border-radius: 50px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.all_friends_btn:hover {
    color: #ffffff;
     background: #415588;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    background: #0f1626;
    transition: opacity 1s, visibility 0s 0s;
}

.preloader_hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 0s 1s;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -65px 0 0 -65px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3f6fff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3f6fff;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3f6fff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.setting-privileges {
    border: none;
    transition: .2s all;
    background: #2c3a59;
    color: #536285;
    width: 36px;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    border-radius: 10px;
    display: flex;
    font-size: 17px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

.setting-privileges:hover {
    border: none;
    transition: .2s all;
    background: #354364;
    color: #ffffff;
    width: 36px;
    border-radius: 10px;
    display: flex;
    font-size: 17px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

.users_chat_online {}

.user_online_block {
    display: flex;
    border-radius: 50px;
    align-items: center;
    max-width: 85px;
    overflow: hidden;
}

.user_online_block .users_chat_online {
    display: none;
}

.user_online_top {}

.user_online_top i {
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: flex;
    font-size: 12px;
    padding: 0px;
    color: #9397b7;
    background: #555876;
    align-items: center;
    justify-content: center;
}

.user_onlines_img {
    width: 33px;
    height: 33px;
    margin-right: -5px;
    border: solid 3px #243258;
    border-radius: 50%;
}

.social_auth {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-top: 15px;
}

.double-profile {
    background: #1e263800;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.number_player {
    background: #364462;
    width: 25px;
    border-radius: 6px;
    height: 25px;
    margin-right: 15px;
    font-size: 10px;
    font-weight: 600;
    margin-left: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-success-priv {
   z-index: 3;
   right: 6px;
   background: linear-gradient(23deg, #2b56da 0%, #3f6fff 55%);
   width: 115px;
   border: none;
   height: 42px;
   font-size: 10.5px;
   display: flex;
   top: 7px;
   color: #fff;
   position: absolute;
   font-weight: 600;
   border-radius: 10px;
   transition: 0.2s;
   align-items: center;
   justify-content: center;
}

.text-warning-priv {
  z-index: 3;
   right: 6px;
   background: linear-gradient(0deg, #d06262 30%, #ff7e7e 100%);
   width: 115px;
   border: none;
   height: 42px;
   font-size: 10.5px;
   display: flex;
   top: 7px;
   color: #fff;
   position: absolute;
   font-weight: 600;
   border-radius: 10px;
   transition: 0.2s;
   align-items: center;
   justify-content: center;
}

.answer_forum {
    color: #ffffff;
    border: none;
    background: linear-gradient(1deg, #223054a6 30%, #25355d 100%);
    transition: .2s all;
    font-weight: 600;
    height: 45px;
    display: flex;
    font-size: 11px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.answer_forum:hover {
   opacity: 0.7;
}

.like_forum {
    color: #ffffff;
    background: #ff6666;
    transition: .2s all;
    border: none;
    height: 36px;
    font-size: 16px;
    width: 36px;
    display: flex;
    cursor: pointer;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
}

.like_forum:hover {
     color: #ffffff;
    background: #cd5151;
}

.like_forum:hover .bx-heart {
    -webkit-animation: 1.3s ease-in-out 0s normal none infinite running trambling-animation;
    -moz-animation: 1.3s ease-in-out 0s normal none infinite running trambling-animation;
    -o-animation: 1.3s ease-in-out 0s normal none infinite running trambling-animation;
    animation: 1.3s ease-in-out 0s normal none infinite running trambling-animation;
}

@keyframes trambling-animation {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    10%,
    30% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
    }

    20%,
    40% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
    }
}

.forum_next {
    overflow: hidden;
    border-radius: 11px;
    margin-bottom: 0px;
    font-size: 12px;
    width: 100%;
    display: flex;
    color: #80849a;
    font-weight: 600;
    list-style: none;
    padding: 17px 0px 17px 15px;
}

.forum_next li {
    margin-right: 10px;
    color: #ffff;
    padding-right: 10px;
    display: flex;
    height: 18px;
    border-right: solid 1px #6c7da461;
    align-items: center;
}

.forum_next li.active {
    color: #ffffff !important;
    border-right: none;
}

.forum_next li a {
    color: #6c7da4;
}

.forum_next li a:hover {
    color: #ffffff;
}

.forum_delete {
    background: #243050;
    color: #5e70a0;
    font-size: 9px;
    border: none;
    display: flex;
    height: 23px;
    margin-left: 6px;
    width: 23px;
    position: relative;
    float: right;
    transition: .2s all;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

.forum_delete:hover {
    background: #2e3d66;
    color: #ffffff;
}

.block_back {
    display: flex;
    border-radius: 13px;
    background: linear-gradient(0deg, #202d4fa3 30%, #233051 100%);
    padding: 7px 13px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.back_forum {
    color: #ffffff;
    background: linear-gradient(23deg, #2b56da 0%, #3f6fff 55%) !important;
    font-size: 13px;
    height: 40px;
    display: flex;
    width: 40px;
    transition: .2s all;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.back_forum:hover {
   opacity: 0.7;
   color: #ffffff;
}

.head-forum {
    background: #272f4200;
    border-radius: 12px;
    display: flex;
    margin-top: -8px;
    margin-bottom: -7px;
    padding: 0px 15px;
}

.forum-setting {
    background: #272f42;
    border-radius: 10px;
    padding: 11px 35px;
    font-size: 10.5px;
    color: #ffffff;
    margin-bottom: 10px;
}

.forum-setting:hover {
    background: #2d354a;
    border-radius: 10px;
    padding: 11px 35px;
    font-size: 10.5px;
    color: #ffffff;
    margin-bottom: 10px;
}

.last_online {
    width: 37px;
    height: 37px;
    background: linear-gradient(308deg, #52556b00 30%, #6d7280 100%);
    padding: 4px;
    border-radius: 50px;
    margin-right: 7px;
    margin-left: -1px;
}

.login_visit {
    font-weight: 600;
    font-size: 11px;
}

.visit_users_online1 {
    padding: 8px 11px;
    color: #fff;
    background: linear-gradient(89deg, #40435700 0%, #222e4f 55%);
    display: flex;
    background-color: #1e2946;
    border-radius: 12px;
    transition: .2s all;
    margin-bottom: -14px;
    align-items: center;
    justify-content: space-between;
}

.visit_users_online1:hover {
    background-color: #222e4f;
}

.gp_visit {
    color: #6f84bf;
    font-weight: 600;
    font-size: 10.5px;
}

.visit_users_online {
    padding: 8px 11px;
    color: #fff;
    background: linear-gradient(89deg, #40435700 0%, #2a3962 55%);
    display: flex;
    background-color: #27355b;
    border-radius: 12px;
    transition: .2s all;
    margin-bottom: 7px;
    align-items: center;
    justify-content: space-between;
}

.visit_users_online:hover {
    background-color: #2a3962;
}

.visit_users_online1 i {
    transition: 0.2s;
    color: #6478b1;
    background: #31416c;
    padding-top: 1px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visit_users_online1:hover i {
    color: #ffffff;
    background: #3a4c7b;
    transform: rotate(180deg);
}

.visit_users_online i {
    color: #7388c4;
    transition: 0.2s;
    background: #384a7c;
    padding-top: 1px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visit_users_online:hover i {
    color: #ffffff;
    background: #3e5187;
    transform: rotate(180deg);
}

.block_visit {
    display: flex;
    line-height: 13px;
    flex-direction: column;
    margin-left: 3px;
}

.avatar_events {
    width: 34px;
    height: 34px;
    margin-top: -1px;
    border-radius: 50%;
}

.result_danger {
    background: #f381812e;
    color: #ffff;
    font-family: 'Montserrat';
    backdrop-filter: blur(6px);
    top: 4px;
    gap: 10px;
    padding: 13px 19px 13px 13px;
    position: relative;
    display: flex;
    font-size: 10.5px;
    border-radius: 11px;
    align-items: center;
}

.result_danger i{
  width: 37px;
  height: 37px;
  background: #f3818145;
  display: flex;
  border-radius: 9px;
  font-size: 17px;
  align-items: center;
  color: #f38181;
  justify-content: center;
}

.result_uspeshno {
    background: #44b27336;
    color: #ffff;
    font-family: 'Montserrat';
    backdrop-filter: blur(6px);
    top: 4px;
    gap: 10px;
    padding: 13px 19px 13px 13px;
    position: relative;
    display: flex;
    font-size: 10.5px;
    border-radius: 11px;
    align-items: center;
}

.result_uspeshno i{
  width: 37px;
  height: 37px;
  background: #44b273ab;
  display: flex;
  border-radius: 9px;
  font-size: 17px;
  align-items: center;
  color: #ffffff;
  justify-content: center;
}

.block-ref-link {
    background: #272f4200;
    border-radius: 13px;
    width: 50%;
}

.info-referal {
    border-radius: 12px;
    padding: 20px;
    font-size: 10.5px;
    border: solid 1px #283652;
    display: flex;
    line-height: 16px;
    color: #5a6a8c;
    padding-bottom: 40px;
    font-weight: 600;
    flex-direction: column;
}

.button-contacts {
    position: relative;
    padding: 15px 25px;
    font-size: 10.5px;
    color: #ffffff;
    background: #272f42;
    border: 1px solid #272f42;
    line-height: normal;
    border-radius: 10px;
    font-weight: 600;
}

.button-contacts:hover {
    position: relative;
    padding: 15px 25px;
    font-size: 10.5px;
    color: #ffffff;
    background: #2b3346;
    border: 1px solid #2b3346;
    border-radius: 10px;
    font-weight: 600;
}

.flex_tab_settings {display: flex;gap: 10px;align-items: center;}

.navigation-setting li.active a {
    color: white;
    font-weight: 600;
    border: dashed 1px #272f42;
    background: #272f42;
}

.navigation-setting.with-icons li a {
    position: relative;
    border-radius: 13px;
    gap: 10px;
    display: flex;
    padding: 13px;
    height: 56px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.active-setting-square {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 2px;
    background: #8fb5af;
}


.wh-18 {
    width: 1.0rem;
    height: 1.0rem;
    position: relative;
    margin-left: 6px;
}

.noty_skidka {
    background-color: #5086ff17;
    border-radius: 11px;
    font-size: 12px;
    padding-left: 20px;
    border: dashed 1px #5086ff;
    margin-top: 18px;
    display: flex;
    padding-right: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    height: 10%;
    justify-content: flex-start;
    align-items: center;
}

.block_message_right {
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #13151a4f;
    background: #161f37;
}

.text-\[var\(--color\)\] {
    color: #598bfe;
}

.login_donator {
    color: #ffff;
}

.userss_online {
    color: #ffffff;
    font-weight: 600;
    font-size: 10.5px;
    line-height: 14px;
    position: relative;
    margin-left: 10px;
}

.button_top {
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    position: relative;
}

.summa_donators {
    padding: 0px 20px;
    border-radius: 50px;
    display: flex;
    gap: 6px;
    background: #303f63;
    height: 45px;
    color: #ffffff;
    font-size: 11px;
    transition: .2s all;
    align-items: center;
}

.summa_donators i {
    font-size: 17px;
    color: #4bc881;
    text-shadow: #4bc881 1px 0 10px;
}

.top_donators:hover .summa_donators {
    background: #374870;
    color: #ffffff;
}

.donat_img {
    width: 120px;
    margin-top: -70px;
    float: right;
    left: 10px;
    top: 30px;
    position: relative;
}

.block_pass {
    margin-top: 15px;
    margin-bottom: 15px;
}

.auth_img {
    width: 260px;
    position: relative;
    top: -52px;
    float: right;
}

.zag_auth {
    height: 65px;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(327deg, #407bff38 0%, rgb(64 123 255) 100%);
    padding: 20px;
    display: flex;
    align-items: center;
}

.admin-center {
    color: #5a6a8c !important;
    font-size: 11px !important;
    display: block;
    border-radius: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 43px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 225px;
    transition: 0.2s;
    padding: 10px;
    line-height: 5px;
}

.admin-center:hover {
    font-weight: 600;
    color: #ffffff;
    background: #212d47;
    font-size: 11px;
    display: block;
    border-radius: 10px;
    position: relative;
    height: 43px;
    line-height: 5px;
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 225px;
    transition: 0.2s;
}

.admin-center:hover .admin-panel {
    color: #ffffff;
    font-size: 8px;
    transition: .2s all;
    margin-left: 5px;
    background: #7c7bff;
    border-radius: 50px;
    position: relative;
    top: 0px;
    padding: 2px 9px;
}

.admin-center i {
    color: #5a6a8c;
    font-size: 17px;
    margin-right: 5px;
    transition: .2s all;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.admin-center:hover i {
    color: #7c7bff;
    font-size: 17px;
    margin-right: 5px;
    transition: .2s all;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.settingss_header {
    display: flex;
    color: #ffffff;
    background: linear-gradient(23deg, #2b56da 0%, #3f6fff 55%);
    min-width: 43px;
    height: 43px;
    font-size: 18px;
    transition: 0.2s;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.settingss_header:hover {
   opacity: 0.7;
   color: #fff;
}

#online_users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top_donators {
    display: block;
    border-radius: 50px;
    transition: .1s all;
    background: #263354;
    padding: 7px 9px;
}

.top_donators:hover {
    background: #2b395c;
}

.profile_contact_telegram {
    display: flex;
    width: 100%;
    height: 55px;
    margin-bottom: 7px;
    background: #2a3855;
    border-radius: 12px;
    align-items: center;
}

.profile_contact_discord {
    display: flex;
    width: 100%;
    height: 42px;
    background: linear-gradient(83deg, #5866f124 30%, #5866f133 100%);
    gap: 9px;
    padding: 0px 13px 0px 0px;
    border-radius: 9px;
    align-items: center;
}

.profile_contact_telegram .bxl-telegram {
    font-size: 15px;
    margin-left: 11px;
    width: 34px;
    display: flex;
    background: linear-gradient(216deg, #6ab5ff 0%, #3390ec 55%);
    height: 34px;
    border-radius: 9px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.profile_contact_discord .bxl-discord-alt {
    font-size: 18px;
    width: 42px;
    background: #5866f1;
    display: flex;
    height: 42px;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
}

.profile_contact_block {
    padding: 15px 16px;
    margin-bottom: -20px;
    background: #2f374b;
    height: 60px;
    margin-top: 28px;
    border-radius: 12px;
}

.profile_contact_opisanie {
    font-size: 10.5px;
    font-weight: 600;
    position: relative;
    color: #5a6a8c;
}

.profile_contact_name {
    color: #fff !important;
    font-size: 11px;
}

.profile_contact_img {
    float: right;
    border-radius: 50%;
    width: 30px;
    top: 1px;
    position: relative;
}

.donat_block_top {
    background: #212d47;
    height: 60px;
    border-radius: 11px;
    padding: 10px;
    gap: 12px;
    display: flex;
    margin-bottom: 12px;
    transition: .2s all;
    justify-content: flex-start;
    align-items: center;
}

.donat_block_top i {
    /* background: #2c3a59; */
    height: 40px;
    font-size: 18px;
    background: linear-gradient(34deg, #4e4fb0 0%, rgb(108 109 229) 55%);
    border-radius: 11px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    border-radius: 50%;
    background: #5086ff;
    width: 23px;
    height: 19px;
    margin-right: -15px;
    margin-top: 25px;
    margin-left: -7px;
    z-index: 1;
    border: solid 4px #161d2c;
    display: flex;
    justify-content: center;
}

.a:before {
    content: '';
    display: block;
    border-radius: 50%;
    background: #161d2c;
    width: 50%;
    height: 50%;
    align-self: center;
}

.news_button {
    font-size: 10.7px;
    font-weight: 600;
    margin-left: 11px;
    position: relative;
    color: #ffff;
    top: 22px;
}

.forum_button {
    font-size: 9.9px;
    font-weight: 600;
    position: relative;
    line-height: 12px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 14px;
    text-align: center;
}

.pulse {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #7c86ff;
    box-shadow: 0 0 0 #606cff4f;
    animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #7c86ff3d;
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #7c86ff94;
        box-shadow: 0 0 0 0 #7f89ffab;
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.all_online {
    background: #37415800;
    transition: all 0.2s;
    padding: 8px;
    border-radius: 10px;
    font-size: 10.5px;
    border: dashed 1px #465472;
    cursor: pointer;
    display: flex;
    color: #5a6a8c;
    margin: 0px 14px;
    margin-top: 9px;
    height: 42px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.all_online:hover {
    background: #283652;
    transition: all 0.2s;
    padding: 8px;
    border-radius: 10px;
    font-size: 10.5px;
    border: dashed 1px #283652;
    cursor: pointer;
    display: flex;
    color: #ffffff;
    margin-top: 9px;
    height: 42px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.online_full {
    background: #272f42;
    border-radius: 10px;
    height: 50px;
    padding: 0px 15px;
    line-height: 14px;
    padding-right: 10px;
    display: flex;
    cursor: pointer;
    width: 100%;
    top: -22px;
    transition: .2s all;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.online_full:hover {
    background: #272f42;
    border-radius: 10px;
    height: 50px;
    opacity: 0.7;
    transition: .2s all;
    padding: 0px 15px;
    line-height: 14px;
    padding-right: 10px;
    display: flex;
    width: 100%;
    top: -22px;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.online_full:active {
    background: #272f42;
    border-radius: 10px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    height: 50px;
    opacity: 0.7;
    transition: .2s all;
    padding: 0px 15px;
    line-height: 14px;
    padding-right: 10px;
    display: flex;
    width: 100%;
    top: -22px;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.online_full_user {
    /* background: #3b3e50; */
    display: flex;
    border-bottom: solid 1px #3f4255;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.online_full_user b {
    border-radius: 50px;
    width: 35px;
    background: linear-gradient(34deg, #437652 0%, rgb(102 158 119) 55%);
    height: 20px;
    font-size: 11px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.img_online {
    width: 34px;
    position: relative;
    top: 4px;
    transition: .2s all;
    border-radius: 50%;
    margin-right: -13px;
    border: solid 3px #272f42;
}

.img_online:hover {
    width: 34px;
    opacity: 0.8;
    transition: .2s all;
    position: relative;
    top: 4px;
    border-radius: 50%;
    margin-right: -13px;
    border: solid 3px #272f42;
}

.toper_mini_right {
    height: 140px;
    margin-bottom: 1px;
    width: 135px;
    border-radius: 15px;
    z-index: 1;
    background: #1e263800;
}

.toper_mini_right1 {
    height: 100%;
    background: #1e2638;
    display: flex;
    border-radius: 15px;
    transition: .2s all;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
}

.news_date {
    font-size: 10px;
    background: #2d76ff14;
    backdrop-filter: blur(1px);
    border-radius: 50px;
    border: solid 1px #ffffff1a;
    position: absolute;
    font-weight: 600;
    margin-top: 5px;
    text-align: center;
    text-overflow: ellipsis;
    width: calc(40% - 46px);
    overflow: hidden;
    white-space: nowrap;
    line-height: 25px;
    margin-left: 7px;
    color: #fff;
}

.ugol {
    width: 11px;
    position: relative;
    margin-bottom: -12px;
    height: 11px;
    position: absolute;
    bottom: 41px;
    z-index: 1;
    left: 24px;
    border-radius: 50%;
    border: solid 3px #1e2638;
}

.water_img {
    width: 20px;
    position: relative;
}

.water {
    float: left;
    position: relative;
    display: flex;
    padding: 10px;
    padding-top: 11px;
    width: 34px;
    margin-left: -7px;
    background: radial-gradient(circle, rgb(22 50 118) 20%, rgb(10 25 60) 70%);
    line-height: 10px;
    height: 34px;
    font-size: 12px;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
}

.hide_uved {
    display: none;
}

.case_menu_button {
    background: linear-gradient(238deg, rgb(134 255 194 / 6%) 0%, rgb(39 47 66) 55%);
    color: #fff;
}

.new-menu {
    font-weight: 500;
    font-size: 8px;
    float: right;
    margin-top: 7px;
    color: #95ffcafc;
    padding: 0px 10px;
    border: 1px solid #95ffca94;
    filter: drop-shadow(rgba(107, 206, 165, 0.57) 0px 0px 16px);
    border-radius: 5px;
}

.head_chat {
    display: flex;
    justify-content: space-between;
}

.img_input_chat {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
}

.show_user {
    color: #586992;
    line-height: 24px;
    font-size: 16px;
    height: 35px;
    background: #1d2a4b;
    width: 35px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
    top: 13px;
    border-radius: 50px;
}

.show_user:hover {
    color: #798ec0;
    background: #233157;
}

.show_user:hover .bx-bell {
    -webkit-animation: 1.3s ease-in-out 0s normal none infinite running trambling-animation;
    -moz-animation: 1.3s ease-in-out 0s normal none infinite running trambling-animation;
    -o-animation: 1.3s ease-in-out 0s normal none infinite running trambling-animation;
    animation: 1.3s ease-in-out 0s normal none infinite running trambling-animation;
}

@keyframes trambling-animation {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    10%,
    30% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
    }

    20%,
    40% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
    }
}

.chat_date {
    font-size: 10px;
    color: #4f6089;
    border-radius: 50px;
    font-weight: 600;
    cursor: context-menu;
}

.answer {
    font-size: 10px;
    color: #58637800;
    margin-left: 120px;
    float: right;
    margin-right: 3px;
    transition: .2s all;
}

.answer:hover {
    font-size: 10px;
    color: #ffffff;
    margin-left: 120px;
    float: right;
    transition: .2s all;
}

.user_o_img {
    width: 24px !important;
    border-radius: 50px;
    height: 24px !important;
    transition: .2s all;
    float: inherit;
}

.chat_img {
    width: 24px !important;
    border-radius: 50px;
    height: 24px !important;
    transition: .2s all;
    float: inherit;
}

.chat_img:hover {
    opacity: 0.7;
}

.top_users_img {
    width: 28px !important;
    border-radius: 50px;
    height: 28px !important;
    transition: .2s all;
    float: inherit;
}

.blockobr {
    height: 85px;
    background: #1e2638;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    transition: 0.2s;
}

.blockobr:hover {
    height: 85px;
    background: #232b3e;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: 0.2s;
}

.imgsupport {
    width: 80px;
    top: -16px;
    height: 82px;
    position: relative;
    line-height: 0px;
    float: left;
}

@media (max-width: 991.99px) {
    .page_auth_left {
        display: none !important;
    }

    .page_auth_right {
        width: 100% !important;
        align-items: center;
        background-color: #21233000 !important;
        padding: 70px 15px 70px 15px !important;
    }

    .login_block {
        width: 100% !important;
        left: 0px !important;!i;!;
        margin-left: 0px !important;
    }

    .page_authorization {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

    .wapper .header {
        position: relative;
        height: 109px;
    }

   .flex_under_profile {
    flex-direction: column;
}

    .profile_under_block {
    width: 100% !important;
}

     .profile_under_block_two {
    width: 100% !important;
}

    .top_profilee {
    flex-direction: column;
    gap: 20px;
}

    .online_prcr {
    position: absolute;
    background: linear-gradient(1deg, #1c2846 30%, #1e2a48 100%);
    -webkit-box-shadow: 0 35px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 35px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s, visibility 0s linear 0.2s;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    z-index: 9999;
    top: 54px;
    width: 274px;
    right: 0;
    border-radius: 15px;
    padding: 14px;
    padding-bottom: 9px;
    left: -210% !important;
    margin-left: -156px;
}

    .left_select_number {
    margin-bottom: 10px;
}

    .row_widget {
    flex-direction: column;
}

    .center_sub {
        display: none;
    }

    .search_user {
        display: none;
    }

    .point_header {
        z-index: 1;
        display: block;
        width: 13px;
        height: 13px;
        border: solid 4px #212330;
        border-radius: 50%;
        background: #ffc491;
        top: 14px;
        position: absolute;
        right: -107px;
    }

    .pro {
        display: none;
    }

    .wapper .header ul {
        display: none;
        float: left;
        height: 100%;
        list-style: none;
    }

    .wapper .header ul>li {
        display: block;
        float: left;
        margin: 0 17px;
    }

    .wapper .header ul>li>a {
        font-size: 16px;
        color: #586992;
        height: 35px;
        width: 35px;
        background: #1d2a4b;
        border-radius: 50px;
        text-align: center;
        margin: 0;
        top: 4px;
        position: relative;
    }

    .wapper .header ul>li>a:hover {
        color: #ffffff;
    }

    .wapper .header ul.user-menu {
        display: block;
        margin-top: 15px;
        float: right;
        right: 30px;
        height: 32px;
        position: relative;
    }

    .info_slider {
    justify-content: center;
    align-items: center !important;!i;!;
}

   .btns_nav_un_slider {
    flex-wrap: wrap;
}

    .hello_mister {
    display: none !important;!i;!;
}

    .pag_slider {
    margin-left: auto !important;
    margin-right: auto !important;
}

    .h1_slider_text {
    font-size: 20px !important;!i;!;
    font-weight: 600 !important;!i;!;
}

    .h2_slider_text {
    font-size: 12px !important;!im;!im,;!i;!;
    text-align: center !important;!i;!;
}

    .swiper-slide {
    padding-left: 0px !important;!i;!;
    display: flex;
    padding-right: 0px !important;!i;!;!;
    justify-content: center !important;!i;!;
}

    .wapper .header ul.user-menu>li {
        margin: 0 6px;
    }

    .language_btn {
        display: none;
    }

    .wapper .header ul.user-menu>li:nth-child(1),
    .wapper .header ul.user-menu>li:nth-child(2),
    .wapper .header ul.user-menu>li:nth-child(3) {
        display: none;
    }

    .news_block {
        height: auto;
        display: flex;
        gap: 20px;
        padding: 20px;
        border-radius: 18px;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .row_events {
        display: flex;
        border-radius: 18px;
        margin-bottom: 20px;
        gap: 15px;
        padding: 20px;
        flex-direction: column;
    }

    .block_lider {
    flex-direction: column;
}

    .left_lider_block {
    width: 100% !important;
}

    .right_lider_block {
    width: 100% !important;
}

    .flex_rait {
    display: none;
}

    .left_events {
        margin-bottom: -10px;
        width: 100%;
    }

    .right_events {
        width: 100%;
        padding: 17px;
        background-size: cover;
        border-radius: 16px;
    }

    .bottom_footer {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .bottom_info {
        background: #2d303a00;
        height: auto;
        display: flex;
        margin-top: 10px;
        gap: 10px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .nav_menu {
        margin-left: -15px;
        margin-bottom: 20px;
    }

    .flex_new_new {
        display: flex;
        width: 100%;
        gap: 20px;
        flex-direction: column;
        align-items: stretch;
    }

    .news-block-img {
        height: 580px;]00px;
        width: 100%;
        background: #212d47;
        border-radius: 16px;
    }

    .new_news {
    margin-top: 35px;
    margin-left: 51px;
}
